{% extends 'base/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="container mt-8 flex-column widts d-flex justify-center align-center">
    <div class="card" style="margin: 15px 5px;">
      <img style="height: 50px; width: 50px; align-self: center;" src="{% static 'images/classroom.svg' %}"
        alt="classroom">
      <h1 style="text-align: center;">Sign up</h1>
      <p style="text-align: center;" class="text-secondary">Create an account</p>
      <form method="POST" class="mx-4 mb-3">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary w-100" type="submit">sign up</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
